.page-witch-background-editor {
    margin-top: 0;
}

.make-change {
    margin-top: 20px;
    font-family: "Lato-Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #0A0A0A;
}


