.volunteering-form-block {
    max-width: 864px;
    margin: 20px auto 0 auto;
}

.volunteering-form-block {
    max-width: 864px;
    margin: 20px auto 0 auto;
}

.textarea-default {
    height: 141px;
}

.description-usual {
    margin: 8px auto auto auto;
}
